  .divAbouts {
    position: relative;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.58);
    border-radius: 15px;
    margin: 1px 80px;
    padding: 15px;
  }

  .background-container-Aboutdd {
    background-color: rgb(226, 43, 171);
  }

  .divAbouts h1 {
    text-align: center;
  }

  .AboutsOffers h3 {
    text-align: center;
  }

  .AboutGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .AboutsGraph,
  .AboutsAi,
  .AboutsWebDesign,
  .AboutsWebDev {
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    margin: 2px 10px;
    /* Adjust the margin */
    padding: 20px;
    margin-bottom: 20px;
  }

  .AboutsGraph h4,
  .AboutsAi h4,
  .AboutsWebDesign h4,
  .AboutsWebDev h4 {
    color: #fff;
  }

  .AboutsGraph ul,
  .AboutsAi ul,
  .AboutsWebDesign ul,
  .AboutsWebDev ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .AboutsGraph li,
  .AboutsAi li,
  .AboutsWebDesign li,
  .AboutsWebDev li {
    margin-bottom: 5px;
  }

  .background-container-About {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    /* Använd min-height för att säkerställa att det täcker hela skärmen */
  }


  @media (max-width: 1024px) {

    /* .background-container-Aboutdd {
      background-color: rgb(153, 171, 181);
      width: 100%;
      min-height: 100vh;
      padding-bottom: 200px;
    } */

    .divAbouts {
      position: relative;
      color: #fff;
      background-color: rgba(0, 0, 0, 0.58);
      border-radius: 15px;
      margin: 1px 80px;
      padding: 15px;
    }


    .divAbouts h1 {
      text-align: center;
    }

    .AboutsOffers h3 {
      text-align: center;
    }

    .AboutGrid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .AboutsGraph,
    .AboutsAi,
    .AboutsWebDesign,
    .AboutsWebDev {
      background-color: rgba(0, 0, 0, 0.8);
      border-radius: 10px;
      margin: 2px 10px;
      /* Adjust the margin */
      padding: 20px;
      margin-bottom: 20px;
    }

    .AboutsGraph h4,
    .AboutsAi h4,
    .AboutsWebDesign h4,
    .AboutsWebDev h4 {
      color: #fff;
    }

    .AboutsGraph ul,
    .AboutsAi ul,
    .AboutsWebDesign ul,
    .AboutsWebDev ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .AboutsGraph li,
    .AboutsAi li,
    .AboutsWebDesign li,
    .AboutsWebDev li {
      margin-bottom: 5px;
    }

  }




  @media (max-width: 995px) {
    /* .background-container-Aboutdd {
      background-color: rgb(43, 162, 226);
      padding-bottom: 200px;
    } */

    .divAbouts {
      position: relative;
      margin-top: 1px;
      /* Centrera horisontellt */
    }

    /* .background-container-About {
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    } */
  }


  @media (max-width: 548px) {
    /* .background-container-Aboutdd {
      background-color: rgb(143, 99, 183);
      padding-right: 20px;
    } */

    .background-container-About {
      width: 100%;
    }

    .divAbouts {
      margin: 2px;
      padding: 10px;
    }

    .background-container-About {
      margin-bottom: 10px;
    }
  }

  @media (max-width: 437px) {
    /* .background-container-Aboutdd {
      background-color: blueviolet;
    } */

    .divAbouts {

      /* background-color: aquamarine; */
      top: 20px;
      padding: auto;
      margin: 20px;
    }

    .AboutGrid {
      position: relative;
      padding: auto;
      /* background-color: blue; */
    }
  }

  @media (max-width: 375px) {
    /* .background-container-Aboutdd {
      background-color: rgb(198, 226, 43);
    } */

    .divAbouts {
      position: relative;
      /* background-color: aquamarine; */
      top: 20px;
      padding: auto;
      margin: 20px;
    }

    .AboutGrid {
      position: relative;
      padding: auto;
      /* background-color: blue; */

      display: grid;
      grid-template-columns: repeat(1, 1fr);

    }
  }