.background-container {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;

}

.background-container2 {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;

}

.background-container3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
}