.linkforsite {
  text-align: center;
  margin-top: 10px;
  font-size: 50px;
  color: #55b8ff;
}

.linkforsite a {
  color: #55b8ff;
}


.linkforsite :hover {
  color: #ff55e0;
}

.carousel1 {
  position: relative;
  width: 100%;
  height: 800px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 3s ease-in-out, opacity 10s ease-in-out;
  /* Increase duration for slower slide change */
}

.carousel-image1 {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 3s ease-in-out, opacity 10s ease-in-out;
  /* Increase duration for slower slide change */
}

.carousel-control1 {
  cursor: pointer;
  margin: 2px;
  margin-top: 34px;
  background: #ff55e092;
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.3s ease;
  /* Add transition for smoother control color change */
}

.carousel-control1:first-child {
  left: 96%;
  margin-left: 0.2%;
  /* Adjust the left positioning for the left control */
}

.carousel-indicators1 {
  position: absolute;
  bottom: 10px;
  /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  padding: 0;
}

.indicator1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #dddddd7d;
  margin: 0 10px;
  /* Adjust the margin to add space between indicators */
  cursor: pointer;
}

.active1 {
  background: #ff55e0;
}

@media (max-width: 565px) {
  .carousel-image1 {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 3s ease-in-out, opacity 10s ease-in-out;
    /* Increase duration for slower slide change */
  }

  .carousel1 {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .carousel-control1 {
    cursor: pointer;
    margin: 1%;
    background: #ff55e092;
    padding: 1.1%;
    border-radius: 10px;
    top: 50%;
  }

  .carousel-control1:first-child {
    left: 90%;
  }

  .linkforsite {
    text-align: center;
  }
}

@media (max-width: 2560px) {
  .carousel1 {
    height: 1300px;
  }
}

@media (max-width: 1440px) {
  .carousel1 {
    height: 750px;
  }
}

@media (max-width: 1024px) {
  .carousel1 {
    height: 550px;
  }

  .carousel-control1:first-child {
    left: 95%;
  }

  .linkforsite {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .carousel1 {
    height: 450px;
  }

  .carousel-control1:first-child {
    left: 94%;
  }
}

@media (max-width: 425px) {
  .carousel1 {
    height: 270px;
  }

  .carousel-control1:first-child {
    left: 90%;
  }

  .linkforsite {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
  }
}