.carousel1 {
  position: relative;
  width: 500px;
  height: 500px;
  margin: auto;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 3s ease-in-out, opacity 10s ease-in-out;
  /* Increase duration for slower slide change */
}

.carousel-image1 {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 3s ease-in-out, opacity 10s ease-in-out;
  /* Increase duration for slower slide change */
}

.carousel-control1 {
  cursor: pointer;
  margin: 2px;
  margin-top: 34px;
  background: #ff55e092;
  padding: 10px;
  border: none;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: background 0.3s ease;
  /* Add transition for smoother control color change */
}

.carousel-control1:first-child {
  left: 92%;
  /* Adjust the left positioning for the left control */
}


.carousel-indicators1 {
  position: absolute;
  bottom: 10px;
  /* Adjust the distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  display: flex;
  padding: 0;
}

.indicator1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #dddddd7d;
  margin: 0 8px;
  /* Adjust the margin to add space between indicators */
  cursor: pointer;
}

.active1 {
  background: #ff55e0;

}

@media (max-width: 565px) {
  .carousel-image1 {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 3s ease-in-out, opacity 10s ease-in-out;
    /* Increase duration for slower slide change */
  }

  .carousel1 {
    position: relative;
    width: 100%;
    height: auto;
    margin: auto;
  }

  .carousel-control1 {
    cursor: pointer;
    margin: 1%;
    background: #ff55e092;
    padding: 1.1%;
    border-radius: 10px;
    top: 50%;

  }

  .carousel-control1:first-child {
    left: 90%;
  }
}


/* NEXT MEDIA DOWN */
/* @media (max-width: 992px) {
  .carousel1 {
    width: 300px;
    height: 200px;
  } */
/* } */