.divGamings {
  position: absolute;
  color: #f0ebeb;
  margin-top: 10px;
  margin-left: 10%;
}

.divGamings h4 {
  text-align: center;
  font-size: 40px;
}



@media (max-width: 992px) {
  .divGamings {
    position: relative;
    margin-left: 100px;

  }


}