.divGamings {
  position: relative;
  color: #f0ebeb;
  margin-top: 10px;
}

.divGamings h4 {
  text-align: center;
  font-size: 40px;
}

.background-container-GamingRoom {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}