.divMyStacks {
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 15px;
  margin: 1px 80px;
  padding: 15px;

  /* Include padding and border in the element's total width and height */
}

.divMyStacks h1 {
  text-align: center;
}

.MyStacksOffers h3 {
  text-align: center;
}

.MyStackGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.MyStacksGraph,
.MyStacksNew,
.MyStacksAi,
.MyStacksWebDesign,
.MyStacksWebDev {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 2px 10px;
  /* Adjust the margin */
  padding: 20px;
  margin-bottom: 20px;
}

.MyStacksGraph h4,
.MyStacksAi h4,
.MyStacksWebDesign h4,
.MyStacksWebDev h4 {
  color: #fff;
}


.MyStacksGraph ul,
.MyStacksAi ul,
.MyStacksWebDesign ul,
.MyStacksWebDev ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


.MyStacksGraph li,
.MyStacksAi li,
.MyStacksWebDesign li,
.MyStacksWebDev li {
  margin-bottom: 5px;
}

.MyStacksNew {
  grid-column: span 3;
}


.MyStacksNew h4 {
  color: #fff;
  text-align: center;
}

.MyStacksNew ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* Create a 3x3 grid */
  gap: 10px;
  /* Adjust the gap between grid items */
}

.MyStacksNew li {
  list-style: none;
  border-radius: 10px;
  color: #fff;
  text-align: start;
}

.background-container-MyStack {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  /* Använd min-height för att säkerställa att det täcker hela skärmen */
}


@media (max-width: 992px) {
  .divMyStacks {
    position: relative;
    top: 20px;
    margin: 20px;
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .divMyStacks {
    position: relative;
    top: 20px;
    margin: 20px;
    margin-left: 50px;
  }
}

@media (max-width: 565px) {
  .divMyStacks {
    position: relative;
    top: 20px;
    margin: 20px;
  }

  .MyStacksNew {
    grid-column: span 2;
  }

  .MyStackGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-right: 30px;
  }

  .MyStacksNew ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Create a 3x3 grid */
    gap: 10px;
    margin-left: -30px;
    /* Adjust the gap between grid items */
  }
}

@media (max-width: 378px) {
  .divMyStacks {
    position: relative;
    top: 20px;
  }

  .MyStacksNew {
    grid-column: span 1;
  }

  .MyStackGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-left: 30px;
  }

  .MyStacksNew ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* Create a 3x3 grid */
    gap: 10px;
    /* Adjust the gap between grid items */
  }
}