a {
  color: #b6b6b6;
  text-decoration: none;
}

a:hover {
  color: #fbfbfb;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  transition: ease-in-out 0.3s;
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.hej {
  margin-top: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 39px;
  font-weight: 900;
  color: #ff831e;
}

.fransthlm {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
}

#header h2 span {
  color: #ff55e0;
  border-bottom: 2px solid #ff831e;
}

.social-links {
  display: flex;
  margin-left: 30%;
}

.social-links a {
  padding: 5px;
  display: flex;
  margin-top: 600px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 35%;
  margin-left: 6%;
  font-size: 50px;
}

.social-links a:hover {
  background: #d26218;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar {
  margin-top: 50px;
}

.navbar ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.4s;
}



.navbar a:before {
  content: "";
  position: absolute;
  margin-left: 30px;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: #ff831e;
  width: 0px;
  transition: all 0.5s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #ff55e0;
}

/* Hamburgermeny */

.menu-toggle {
  display: none;
  cursor: pointer;
  color: #fff;
  margin-top: 40px;
  font-size: 30px;
}

.navbar.open {
  max-height: 600px;
  transition: max-height 0.5s ease-in-out;
}


/* 1024 SKÄRM */
@media (max-width: 1274px) {
  .navbar {
    margin-top: 50px;
  }

  .navbar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    margin-left: -20px;
    /* Minska avståndet mellan elementen */
    list-style: none;
    justify-content: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.4s;
    text-decoration: none;
  }

  .navbar a:before {
    content: "";
    position: absolute;
    margin-left: 30px;
    height: 4px;
    bottom: 2px;
    left: 0;
    background-color: #ff831e;
    width: 0px;
    transition: all 0.5s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #ff55e0;
  }
}


@media (max-width: 995px) {
  .social-links {
    padding-top: 110px;
    padding-left: 20px;
    margin-left: 10px;

  }

  .navbar {
    margin-top: 50px;
  }

  .navbar ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    /* Minska avståndet mellan elementen */
    list-style: none;
    justify-content: center;
  }

  .navbar li {
    position: relative;
  }

  .navbar a,
  .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 0.7);
    white-space: nowrap;
    transition: 0.4s;
    text-decoration: none;
  }

  .navbar a:before {
    content: "";
    position: absolute;
    margin-left: 30px;
    height: 4px;
    bottom: 2px;
    left: 0;
    background-color: #ff831e;
    width: 0px;
    transition: all 0.5s ease-in-out 0s;
  }

  .navbar a:hover:before,
  .navbar li:hover>a:before,
  .navbar .active:before {
    visibility: visible;
    width: 25px;
  }

  .navbar a:hover,
  .navbar .active,
  .navbar .active:focus,
  .navbar li:hover>a {
    color: #ff55e0;
  }
}

@media (max-width: 768px) {


  .navbar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #d0601b;
    border-radius: 15px;
    margin-top: 0px;
    width: auto;
    margin-left: -20px;
  }

  .navbar ul {
    font-size: 2px;
    flex-direction: column;
    /* Switch to column layout for the entire navbar */

    display: block !important;
    /* Ensure display is set to block for the ul */
  }

  .navbar a,
  .navbar a:focus {
    display: block;
    width: 200px;
    font-size: medium;
    padding: 10px;
    /* Gör varje länk till ett blockelement */
  }

  .social-links {
    padding-top: 110px;
    padding-left: 20px;
    margin-left: 117px;
  }
}

@media (max-width: 425px) {
  .social-links {
    margin-left: -23px;
  }
}

@media (max-width: 375px) {
  .social-links {
    margin-left: -16px;
  }
}

@media (max-width: 320px) {
  .social-links {
    margin-left: -30px;
  }
}