a {
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.navens {
  margin-top: -50px;
}


.header2 {
  display: flex;
  align-items: center;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar2 {
  margin-top: 50px;
}

.navbar2 ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar2 li {
  position: relative;
}

.navbar2 a,
.navbar2 a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #aa0a0a;
  white-space: nowrap;
  transition: 0.4s;
}



.navbar2 a:before {
  content: "";
  position: absolute;
  margin-left: 30px;
  height: 4px;
  bottom: 2px;
  left: 0px;
  background-color: #aa0a0a;
  width: 0px;
  transition: all 0.5s ease-in-out 0s;
}

.navbar2 a:hover:before,
.navbar2 li:hover>a:before,
.navbar2 .active:before {
  visibility: visible;
  width: 25px;
}

.navbar2 a:hover,
.navbar2 .active,
.navbar2 .active:focus,
.navbar2 li:hover>a {
  color: #ff55e0;
}

/* Hamburgermeny */

.menu-toggle {
  display: none;
  cursor: pointer;

  margin-top: 40px;
  font-size: 30px;
}

.navbar2.open {
  max-height: 600px;
  transition: max-height 0.5s ease-in-out;
}


/* 1024 SKÄRM */
@media (max-width: 1274px) {
  .navbar2 {
    margin-top: 50px;
  }

  .navbar2 ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    /* Minska avståndet mellan elementen */
    list-style: none;
    justify-content: center;
  }

  .navbar2 li {
    position: relative;
  }

  .navbar2 a,
  .navbar2 a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;

    white-space: nowrap;
    transition: 0.4s;
    text-decoration: none;
  }

  .navbar2 a:before {
    content: "";
    position: absolute;
    margin-left: 30px;
    height: 4px;
    bottom: 2px;
    left: -20px;

    width: 0px;
    transition: all 0.5s ease-in-out 0s;
  }

}

@media (max-width: 995px) {

  .navbar2 {
    margin-top: 50px;
  }

  .navbar2 ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 5px;
    /* Minska avståndet mellan elementen */
    list-style: none;
    justify-content: center;
  }

  .navbar2 li {
    position: relative;
  }

  .navbar2 a,
  .navbar2 a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 600;
    white-space: nowrap;
    transition: 0.4s;
    text-decoration: none;
  }

  .navbar2 a:before {
    content: "";
    position: absolute;
    margin-left: 30px;
    height: 4px;
    bottom: 2px;
    left: -20px;
    width: 0px;
    transition: all 0.5s ease-in-out 0s;
  }


}

@media (max-width: 768px) {

  .menu-toggle {
    display: block;
    position: relative;
    padding: 12px;
    margin-left: 10px;
  }

  .navbar2 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;

    background-color: #7676768a;
    border-radius: 15px;
    margin-top: 0px;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
  }

  .navbar2 ul {
    font-size: 2px;
    flex-direction: column;


    display: block !important;

  }

  .navbar2 a,
  .navbar2 a:focus {
    display: block;
    width: 200px;
    font-size: medium;
    padding: 10px;
    color: #ffffff;
  }
}

@media (max-width: 320px) {
  .menu-toggle {
    margin-left: 50px;
  }
}

@media (max-width: 375px) {
  .menu-toggle {
    margin-left: 50px;
  }
}

@media (max-width: 425px) {
  .menu-toggle {
    margin-left: 20%;

  }
}