a {
  color: #b6b6b6;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.naven3 {
  margin-top: -50px;
}


.header3 {
  display: flex;
  align-items: center;
}

.header3 h2 span {
  color: #ff55e0;
  border-bottom: 2px solid #ff831e;
}


.social-links3 {
  display: flex;
  margin-left: 30%;
}

.social-links3 a {
  padding: 5px;
  display: flex;
  margin-top: 830px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 35%;
  margin-left: 6%;
  font-size: 55px;

}

.social-links3 a:hover {
  background: #d26218;
}


/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

.navbar3 {
  margin-top: 50px;
}

.navbar3 ul {
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar3 li {
  position: relative;
}

.navbar3 a,
.navbar3 a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  padding-bottom: 10px;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  transition: 0.4s;
}



.navbar3 a:before {
  content: "";
  position: absolute;
  margin-left: 30px;
  height: 4px;
  bottom: 2px;
  left: 0;
  background-color: #ff831e;
  width: 0px;
  transition: all 0.5s ease-in-out 0s;
}

.navbar3 a:hover:before,
.navbar3 li:hover>a:before,
.navbar3 .active:before {
  visibility: visible;
  width: 25px;
}

.navbar3 a:hover,
.navbar3 .active,
.navbar3 .active:focus,
.navbar3 li:hover>a {
  color: #ff55e0;
}

/* Hamburgermeny */

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}

.navbar.open {
  max-height: 300px;
  transition: max-height 0.5s ease-in-out;
}

@media (max-width: 992px) {
  .menu-toggle {
    display: block;
    position: relative;
    margin-top: 20px;
  }

  .navbar {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #d26218;
  }

  .navbar ul {
    flex-direction: column;
  }

  .navbar li+li {
    margin-left: 0;
  }

  .navbar a,
  .navbar a:focus {
    margin-top: 0;
  }

}

/* Hamburgermeny */
.menu-toggle {
  display: none;
  cursor: pointer;
  color: #fff;
  margin-top: 40px;
  font-size: 30px;
}

.navbar3.open {
  max-height: 600px;
  transition: max-height 0.5s ease-in-out;
}

@media (max-width: 992px) {


  .menu-toggle {
    display: block;
    position: relative;
    padding: 20px;
    margin-left: 40px;
  }

  .navbar3 {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    background-color: #d26218;
    border-radius: 15px;
    margin-top: 0px;
    width: 500px;
    margin: auto;
  }

  .navbar3 ul {
    font-size: 2px;
    flex-direction: column;


    /* Hela skärmens höjd */
  }

  .navbar3 a,
  .navbar3 a:focus {
    display: block;
    width: 200px;
    font-size: medium;
    padding: 10px;
    /* Gör varje länk till ett blockelement */
  }
}