/* Reset box-sizing for all elements */
* {
  box-sizing: border-box;
}

.profilepic {
  position: absolute;
  margin-top: 355px;
  margin-left: 50px;
  height: 280px;
  width: 280px;
  border-radius: 40px;
  object-fit: cover;
  /* Ensure the image covers the entire container */
}

.namnet {
  position: absolute;
  top: 620px;
  left: 50px;
  display: inline-block;
  padding: 19px 22px;
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 8px;
  background-color: rgba(137, 137, 137, 0.551);
  border: 2px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.namnetfor {
  color: #f3f4ec;
  margin-right: -20px;
  margin-left: -20px;
  padding: 20px;
}

.namnet a:hover {
  color: #ff55e0;
  text-decoration: none;
}

.namnetefter {
  color: #ff831e;
}

/* Media Queries */
@media (max-width: 995px) {
  .profilepic {
    margin-left: 120px;
    padding-right: 20px;
    box-sizing: border-box;

  }

  .namnet {
    margin-left: 70px;
    box-sizing: border-box;
  }
}

@media (max-width: 768px) {
  .profilepic {
    margin-left: 226px;
  }

  .namnet {
    margin-left: 160px;

  }
}


@media (max-width: 552px) {
  .profilepic {
    margin-top: 361px;
    margin-left: 38px;
    height: 274px;
    width: 311px;
    box-sizing: border-box;
  }

  .namnet {
    margin-left: 0px;
    box-sizing: border-box;

  }
}

@media (max-width: 425px) {
  .namnet {
    left: 40px;
  }
}


@media (max-width: 375px) {
  .profilepic {
    margin-top: 400px;
    margin-left: 30px;
    height: 234px;
    width: 311px;
    box-sizing: border-box;
  }

  .namnet {
    margin-left: 0px;
    box-sizing: border-box;
    left: 30px;
  }
}

@media (max-width: 320px) {
  .profilepic {
    margin-top: 400px;
    margin-left: 18px;
    height: 234px;
    width: 311px;
    box-sizing: border-box;
  }

  .namnet {
    left: 20px;
  }
}