.background-container-Portfolio {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.divPortfolio {
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 15px;
  margin: 1px 80px;
  padding: 15px;
}

.headPort {
  color: #ff55e0;
  text-align: center;
  font-size: 40px;
}

@media (max-width: 992px) {
  .divPortfolio {
    position: relative;
    margin: 30px;
    padding: 20px;
  }

}

@media (max-width: 768px) {
  .divPortfolio {
    position: relative;
    margin: 30px;
    padding: 20px;
  }

}