.divServices {
  position: absolute;
  top: 1px;
  left: 10px;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 15px;
  margin: 90px 180px;
  padding: 15px;
  /* Adjust padding */
  width: 79.7%;
  /* Ensure the container spans the full width */
  box-sizing: border-box;
  /* Include padding and border in the element's total width and height */
}

.divServices h1 {
  text-align: center;
}

.ServicesOffers h3 {
  text-align: center;
}

.ServiceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ServicesGraph,
.ServicesAi,
.ServicesWebDesign,
.ServicesWebDev {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 2px 10px;
  /* Adjust the margin */
  padding: 20px;
  margin-bottom: 20px;
}

.ServicesGraph h4,
.ServicesAi h4,
.ServicesWebDesign h4,
.ServicesWebDev h4 {
  color: #fff;
}

.ServicesGraph ul,
.ServicesAi ul,
.ServicesWebDesign ul,
.ServicesWebDev ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ServicesGraph li,
.ServicesAi li,
.ServicesWebDesign li,
.ServicesWebDev li {
  margin-bottom: 5px;
}