.background-container-Services {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.divServices {
  position: relative;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.58);
  border-radius: 15px;
  margin: 1px 80px;
  padding: 15px;
}

.divServices h1 {
  text-align: center;
}

.ServicesOffers h3 {
  text-align: center;
}

.ServiceGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.ServicesGraph,
.ServicesAi,
.ServicesWebDesign,
.ServicesWebDev {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 2px 10px;
  /* Adjust the margin */
  padding: 20px;
  margin-bottom: 20px;
}

.ServicesGraph h4,
.ServicesAi h4,
.ServicesWebDesign h4,
.ServicesWebDev h4 {
  color: #fff;
}

.ServicesGraph ul,
.ServicesAi ul,
.ServicesWebDesign ul,
.ServicesWebDev ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.ServicesGraph li,
.ServicesAi li,
.ServicesWebDesign li,
.ServicesWebDev li {
  margin-bottom: 5px;
}

@media (max-width: 992px) {
  .divServices {
    position: relative;
    top: 20px;
    margin: 20px;
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .divServices {
    position: relative;
    top: 20px;
    margin: 20px;
    margin-left: 50px;
  }
}

@media (max-width:454px) {
  .ServiceGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}