.social-links2 {
  display: flex;
  margin-left: 30%;
}

.social-links2 a {
  padding: 5px;
  display: flex;
  margin-top: 770px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  border-radius: 35%;
  margin-left: 6%;
  font-size: 55px;

}

.social-links2 a:hover {
  background: #d26218;
}

@media (max-width: 992px) {
  .social-links2 {
    margin: 10px;
  }

  .social-links2 a {
    margin-top: 20px;
    margin-left: 80px;

  }


}