.social-links1 {
  display: flex;
  margin-left: 30%;
}

.social-links1 a {
  padding: 5px;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #aa0a0a;
  border-radius: 35%;
  margin-left: 6%;
  font-size: 55px;

}

.social-links1 a:hover {
  background: #aa0a0a;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .social-links1 {
    margin: 10px;
  }

  .social-links1 a {
    margin-top: 20px;
    margin-left: 14%;
    margin-bottom: 20px;

  }

}


@media (max-width: 995px) {
  .social-links1 {
    margin: 10px;
  }

  .social-links1 a {
    margin-top: 20px;
    margin-left: 14%;

  }
}

@media (max-width: 768px) {
  .social-links1 {
    margin: 20px;
  }

  .social-links1 a {
    margin-top: 10px;
    margin-left: 14%;

  }
}

@media (max-width: 579px) {
  .social-links1 {
    margin: 0px;
  }

  .social-links1 a {
    margin-top: 10px;
    margin-left: 12%;

  }
}

@media (max-width: 548px) {
  .social-links1 {
    margin: 0px;
  }

  .social-links1 a {
    margin-top: 50px;
    margin-left: 10%;

  }
}

@media (max-width: 437px) {
  .social-links1 {
    margin: 0px;
  }

  .social-links1 a {
    margin-top: 20px;
    margin-left: 32px;

  }
}

@media (max-width: 375px) {
  .social-links1 {
    margin: 0px;
  }

  .social-links1 a {
    margin-top: 20px;
    margin-left: 12px;

  }
}